<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <import resource="applicationContext-service.xml"/>
    <import resource="applicationContext-dao.xml"/>
    <context:annotation-config/>
    <context:property-placeholder location="classpath:mysql.properties"/>
    <mvc:default-servlet-handler/>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${mysql.driverClassName}"/>
        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
        <property name="defaultAutoCommit" value="false"/>
    </bean>

    <bean id="hibernate5AnnotatedSessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.example.pojo.Person</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <!-- hibernate choose correct JDBC metadata returned by the JDBC driver. -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!-- write all sql statements to the console -->
                <prop key="hibernate.show_sql">true</prop>
                <!-- Pretty print the SQL in the log and console -->
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!-- Set a default sze for hibernate batch fetching of associations. -->
                <prop key="hibernate.default_batch_fetch_size">16</prop>
                <!-- Set a defaut size for entity representation for all sessions opened from Session Factory -->
                <prop key="hibernate.default_entity_mode">pojo</prop>
                <!-- Hibernate will collect statistics useful for performance tuning. -->
                <prop key="hibernate.generate_statistics">true</prop>
            </props>
        </property>
    </bean>

    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
    <!--&lt;!&ndash; 注入数据库连接池 &ndash;&gt;-->
    <!--<property name="dataSource" ref="dataSource"/>-->
    <!--&lt;!&ndash; 扫描entity 包使用别名 &ndash;&gt;-->
    <!--<property name="typeAliasesPackage" value="com.example.pojo"/>-->
    <!--&lt;!&ndash; 配置MyBatis全局配置文件&ndash;&gt;-->
    <!--<property name="configLocation" value="classpath:mybatisV3-config.xml"/>-->
    <!--&lt;!&ndash; 扫描sql配置文件:mapper需要的xml文件 &ndash;&gt;-->
    <!--<property name="mapperLocations" value="classpath:mapper/*.xml"/>-->
    <!--</bean>-->

    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
    <!--&lt;!&ndash; 注入sqlSessionFactory &ndash;&gt;-->
    <!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>-->
    <!--&lt;!&ndash; 给出需要扫描Dao接口包 &ndash;&gt;-->
    <!--<property name="basePackage" value="com.example.dao"/>-->
    <!--</bean>-->

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="packagesToScan" value="com.example.pojo"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <jpa:repositories base-package="com.example.dao"/>

    <context:component-scan
            base-package="com.example.controller,com.example.configuration,com.example.scheduler,com.example.method"/>

    <!-- 配置基于注解的声明式事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" name="book"/>
            </set>
        </property>
    </bean>

    <cache:advice id="cacheBehaviour" cache-manager="cacheManager">
        <cache:caching cache="book">

        </cache:caching>
    </cache:advice>

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>